@import "../../constants/variables";

.wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  margin: $spacing4 0 0;

  @media ($sm-up) {
    display: flex;
  }
}

.section {
  max-width: 150px;
  flex: 1;
  text-align: center;
  padding: $spacing 0;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: .15s ease;
  margin: 0 6px;

//   &::after {
//     content: '>';
//     position: absolute;
//     width: 10px;
//     height: 10px;
//   }
}

.isActive {
  border-color: hsla(0, 0%, 70%, 1);
}
