.wrapper {  
  display: flex;
  justify-content: flex-end;
  
  button {
    color: #fff;    
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid rgba(255,255,255,.3);
    padding: 6px 12px;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
    }
  }

  img {
    width: 24px;
    height: auto;
    margin-right: 5px;
  }

  @media (min-width: 768px) {
    position: absolute;
    right: 13px;
  }
}
