@import "../../constants/variables";

.label {
  display: flex;
  margin-top: $spacing;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    border: 2px solid $color-primary;
    border-radius: 50%;
  }

  .checkmark {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 6px;
    top: 6px;
    background: $color-primary;
    border-radius: 50%;
    transform: scale(0);    
    transition: .15s ease;
  }

  input {
    margin-right: 20px;
    opacity: 0;
    position: relative;

    &:checked ~ .checkmark {
      transform: scale(1);
    }
  }
}
