@import "../../constants/variables";

.bar {
  &::before,
  &::after {
    background: $color-primary;
  }
}

.error {
  margin-bottom: -1px;
  display: block;
}

.inputElement {
  color: $color-primary;

  &:focus ~ .label {
    font-size: 14px !important;
    color: $color-primary !important;
  }

  &.filled ~ .label:not(.fixed) {
    font-size: 14px !important;
  }
}

.password {
  input {
    letter-spacing: 3px;
  }
}

.label {
  font-size: 18px;
  color: $color-text-secondary;
}

:global(input:-webkit-autofill) {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.maxWidth {
  max-width: 340px;
  margin: 0 auto;
}