@import "../../constants/variables";

.wrapper {
  font-family: $font;
  composes: primary from "<presentational/PButton>";
  margin: $spacing2 auto 0;
  display: block;
  width: 100%;

  @media ($sm-up) {
    width: auto;
  }

  span {
    text-transform: uppercase;
    font-weight: 500;
  }

  input {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

.secondary {
  composes: secondary from "<presentational/PButton>";

  &:hover {
    background: #fff;
    color: #761040;
  }
}

.preview {
  margin-top: $spacing2;

  img {
    max-width: 100%;
    height: auto;
  }
}
