@import "../../constants/variables";

.button {
  font-family: $font;
  composes: primary from "<presentational/PButton>";
  // background: $color-primary;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  // border: 2px solid $color-primary;
  padding-left: $spacing2;
  padding-right: $spacing2;
  width: auto;
  min-width: 200px;
}

.secondary {
  @extend .button;
  composes: secondary from "<presentational/PButton>";
  // background: none;
  // color: $color-primary;
}

.narrow {
  padding-left: 20px;
  padding-right: 20px;
}

.anchor {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  color: $color-anchor;

  &:hover {
    color: lighten(#321fe0, 10%);
  }

  &.large {
    font-size: 18px;
  }
}

.wrapper {
  transition: 0.15s ease all;
}

.disabled {
  .button {
    opacity: 0.5;
  }

  .anchor {
    cursor: not-allowed;

    &:hover {
      color: $color-primary;
    }
  }
}

.wide {
  width: 100%;

  @media ($sm-up) {
    width: auto;
  }
}

.submitting {
  .button {
    opacity: 0.5;
    cursor: not-allowed;
    animation: translateBackground 4s ease-in-out infinite;
  }
}

.center {
  text-align: center;
}

.submit {
  margin-top: calc(#{$spacing}* 2);
  text-align: center;

  button {
    width: 100%;

    @media ($sm-up) {
      width: auto;
    }
  }
}

@keyframes translateBackground {
  0% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 3100%;
  }
}
