@import "../../constants/variables";

.wrapper {
  margin-top: calc(#{$spacing} * 2);
}

// .paragraph {
//   font-size: 0.9rem;
    
//   @media ($sm-up) {
//     font-size: 1rem;
//   }
// }

.title {
  color: $color-primary;
  font-weight: 400;
  font-family: $font-custom;
  margin: 0;
}

:global(h1) {
  @extend .title;
  font-size: 20px;

  @media ($sm-up) {
    font-size: 36px;    
  }
}

:global(h2) {
  @extend .title;
  font-size: 18px;
  line-height: 1.6;
  
  @media ($sm-up) {
    font-size: 20px;    
  }
}

:global(h3) {
  @extend .title;
  font-size: 18px;
  line-height: 1.6;
}

:global(h4) {
  @extend .title;
  font-size: 16px;
  line-height: 1.6;
}

:global(.text--center) {
  text-align: center;
}

:global(.text--right) {
  text-align: right;
}

:global(.text--sm) {
  font-size: 13px;
}

:global(.text--bold) {
  font-weight: 600;
}

:global(.text--break) {
  word-break: break-all;
}

:global(.text--linebreak) {
  white-space: pre-line;
}

:global(.text--white) {
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

:global(.text--success) {
  color: $color-success;
  -webkit-font-smoothing: antialiased;
}

.withCheckmark {
  display: flex;
  align-items: flex-start;
  margin-top: $spacing;
}

.checkmark {
  margin: -3px $spacing 3px 0;
}