@import '../../constants/variables';

.dropzone {
  > div {
    margin: $spacing2 0 0;
    width: 100% !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px !important;
  }

  &.withPreview {
    > div {
      border: none !important;
    }
  }  
}

.actions {
  display: flex;
  justify-content: center;

  button {
    margin: 0 $spacing;
  }
}