@import '../../constants/variables';

.qrCode {
  width: 200px;
  height: 200px;
  margin: 52px 52px 26px;
  display: block;
  max-height: auto;
}

.paymentInfo {
  @media ($sm-up) {
    display: flex;
    margin: 0 -100px;
  }
}

.info {
  margin-top: 26px;
}

.infoEntry {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing2;
}

.infoEntryLabel {
  font-weight: 600;
  margin-top: 0;
  margin-right: 26px;
}