@import "../../constants/variables";

.image {
  position: relative;
  
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #c1c1c1;
  }

  img {
    margin: $spacing4 auto 0;
    display: block;
  }
}

.preview {
  margin-top: $spacing2;

  img {
    max-width: 100%;
    height: auto;
  }
}
