$color-background: #fff;
$color-primary: #130c58;
$color-anchor: #321fe0;
$color-text: #140857;
$color-success: #54bb22;
$color-error: #ce1812;
$color-text-secondary: rgba(0, 0, 0, 0.4);
$color-border: hsl(0, 0%, 90%);

$spacing: 13px;
$spacing2: calc(#{$spacing} * 2);
$spacing3: calc(#{$spacing} * 3);
$spacing4: calc(#{$spacing} * 4);
$spacing5: calc(#{$spacing} * 5);
$spacing6: calc(#{$spacing} * 6);

$page-width: 960px;

$border-radius: 4px;

$sm-up: "min-width: 768px";

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-custom: 'billcorpmx-bold';