.wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
}

.btnToggle {
  position: absolute;
  right: 10px;
  bottom: 0;
  margin-top: 0;
}

.menu {
  position: absolute;
  right: 10px;
  bottom: 30px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(23, 22, 80, .24);

  button {
    white-space: nowrap;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}