@import '../../constants/variables';

.wrapper {
  z-index: 1000;
  
  > div {
    background: #fff;
    margin: -26px;
  }

  p {
    margin-top: 52px;
    font-family: "billcorpmx-bold";
    color: $color-primary;
    font-weight: 400;
  }
}
