@import "../../constants/variables";

@font-face {
  font-family: $font-custom;
  src: url("../../assets/fonts/billcorpmx-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:global(.mt-0) {
  margin-top: calc(#{$spacing} * 0) !important;
}

:global(.mt-1) {
  margin-top: calc(#{$spacing} * 1) !important;
}

:global(.mt-2) {
  margin-top: calc(#{$spacing} * 2) !important;
}

:global(.mt-3) {
  margin-top: calc(#{$spacing} * 3) !important;
}

:global(.mt-4) {
  margin-top: calc(#{$spacing} * 4) !important;
}

:global(body) {
  background: $color-background;
}

:global(img) {
  max-width: auto;
  max-height: 100%;
}

:global(a) {
  color: $color-anchor;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: lighten(#321fe0, 10%);
  }
}