@import "../../constants/variables";

.wrapper {
  background: #fff;
  margin: $spacing4 auto 0;
  // box-shadow: 1px 21px 43px 10px rgba(0,0,0,.05);
  border-radius: $border-radius;
  position: relative;
  box-sizing: content-box;
  max-width: 460px;

  // @media ($sm-up) {
  //   padding: $spacing4 $spacing;
  // }
}

.wide {
  max-width: 695px;
}

.withAnimation {
  animation: fadein .3s ease, transform .5s ease;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes transform {
  from { transform: translateY(5px); }
  to   { transform: translateY(0px); }
}