@import '../../constants/variables';

.dialog {
  composes: modal-dialog from "<business/BModal>";
  
  @media ($sm-up) {
    margin-top: $spacing4;
    max-width: 650px;
  }

  > div {
    padding: $spacing4;
  }
}

.header {
  composes: modal-header from "<business/BModal>";
  position: absolute;
  right: 0;
  top: 0;
}
