@import '../../../constants/variables';

.wrapper {
  background: linear-gradient(to bottom, #f4f4f4, #fff);
  padding: $spacing2 0;
  margin-top: $spacing4;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
}

.contacts {
  display: flex;  
  justify-content: center;

  > div {
    margin: $spacing4 $spacing2 0;
    text-align: center;
  }
}