@import "../../constants/variables";

.qrCode {
  margin: $spacing2 auto;
  display: block;
}

.btn {
  > button {
    min-width: 262px;
  }
}

.link {
  font-size: 22px;

  @media ($sm-up) {
    font-size: 26px;
  }
}

.dividerLine {
  position: absolute;  
  height: 1px;
  background: #b3b3b3;
  top: 12px;

  @media ($sm-up) {
    content: '';
  }
}

.divider {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: $spacing3 0;

  &:before {
    @extend .dividerLine;
    left: -30%;
    right: 60%;
  }

  &:after {
    @extend .dividerLine;
    left: 60%;
    right: -30%;
  }
}