@import "../../constants/variables";

.container {
  padding: 0 24px;
}

.wrapper {
  header {
    height: 80px;
    display: flex;
    box-shadow: 1px 2px 43px 10px rgba(0, 0, 0, .05);
    position: relative;
    // background: #fff;
    background: linear-gradient(to right, #130657, #780f3f);
    @extend .container;

    @media (min-width: 768px) {
      height: 100px;
    }
  }

  .headerContent {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0 26px;

    > * {
      flex: 1;
    }

    @media (min-width: 768px) {
      // justify-content: center;
    }
  }

  .title {
    max-width: 440px;
    margin: $spacing2 auto;
    
    @media ($sm-up) {
      text-align: center;
    }
  }

  main {
    background: $color-background;
    // min-height: calc(100vh - 100px);
  }

  .content {
    max-width: $page-width;
    margin: 0 auto;
    box-sizing: content-box;
    position: relative;
    @extend .container;

    @media ($sm-up) {
      padding: calc(#{$spacing}* 4) calc(#{$spacing} * 2);
    }

    &.compact {
      padding: $spacing;

      @media ($sm-up) {
        padding: calc(#{$spacing}* 2) calc(#{$spacing} * 2);
      }
    }
  }
}
