@import '../../constants/variables';

.wrapper {
  position: relative;
}

.preview {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  img {
    max-width: 100%;
  }
}

.webcam {
  position: relative;
}

.actions > div {
  text-align: center;
  margin: $spacing2 0 0;
  padding: 0 $spacing;
  display: flex;
  justify-content: space-between;
  margin: 0;

  > div {
    flex: 1;
  }

  button {
    padding-left: 16px;
    padding-right: 16px;
    min-width: 100px;
    width: 100%;
  }
}

.isMobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
  margin-top: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;

  video {
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
  }

  .actions {
    position: absolute;
    bottom: $spacing;
    left: 0;
    right: 0;
  }
}

.btnRetry {
  margin-right: $spacing;
}